.idea
.vscode
*.code-workspace
*.pyc
*~
.venv
venv
db.sqlite3
.sass-cache/
celerybeat-schedule
iot_platform/localsettings.py
iot_platform/local.py
static_root/
node_modules/
.vite/
openapitools.json
media/
docs/_build
_dist/
.env
.env.production
.DS_Store
.direnv
.envrc
# compiled static files are built in dev/deploy
static/css/
static/js/
