{% load i18n %}
{% if team %}
<li class="menu-title">
  <span>{% translate "IoT Monitoring" %}</span>
</li>
<li class="mb-4 px-2">
  <a href="{% url 'web_team:onboarding:setup_start' team.slug %}" class="btn btn-primary btn-sm flex items-center justify-center gap-2 rounded-xl border-none shadow-lg shadow-primary-500/20 hover:scale-105 active:scale-95 transition-all">
    <i class="fa fa-plus-circle"></i>
    {% translate "Setup" %}
  </a>
</li>
<li>
  <a href="{% url 'web:home' %}" {% if active_tab == 'dashboard' %}class="menu-active"{% endif %}>
    <i class="fa fa-home h-4 w-4"></i>
    {% translate "Dashboard" %}
  </a>
</li>
<li>
  <a href="{% url 'web_team:devices:site_list' team.slug %}" {% if active_tab == 'sites' %}class="menu-active"{% endif %}>
    <i class="fa fa-map-marker-alt h-4 w-4"></i>
    {% translate "Sites" %}
  </a>
</li>
<li>
  <a href="{% url 'web_team:devices:device_list' team.slug %}" {% if active_tab == 'devices' %}class="menu-active"{% endif %}>
    <i class="fa fa-microchip h-4 w-4"></i>
    {% translate "Devices" %}
  </a>
</li>
<li>
  <a href="{% url 'web_team:devices:gateway_list' team.slug %}" {% if active_tab == 'gateways' %}class="menu-active"{% endif %}>
    <i class="fa fa-server h-4 w-4"></i>
    {% translate "Gateways" %}
  </a>
</li>
<li>
  <a href="{% url 'web_team:alerts:alert_list' team.slug %}" {% if active_tab == 'alerts' %}class="menu-active"{% endif %}>
    <i class="fa fa-bell h-4 w-4"></i>
    {% translate "Alerts" %}
  </a>
</li>

<li>
  <a href="{% url 'web_team:dashboard_team:list' team.slug %}" {% if active_tab == 'shared-links' %}class="menu-active"{% endif %}>
    <i class="fa fa-share-nodes h-4 w-4"></i>
    {% translate "Shared Links" %}
  </a>
</li>
<li>
  <a href="{% url 'web_team:maintenance:ticket_list' team.slug %}" {% if active_tab == 'maintenance' %}class="menu-active"{% endif %}>
    <i class="fa fa-wrench h-4 w-4"></i>
    {% translate "Maintenance" %}
  </a>
</li>

{% endif %}

{% if user.is_superuser %}
<li class="menu-title">
  <span>{% translate "Admin" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'dashboard:dashboard' %}" {% if active_tab == 'project-dashboard' %}class="menu-active"{% endif %}>
      <i class="fa fa-bar-chart-o h-4 w-4"></i>
      {% translate "Project Dashboard" %}
    </a>
  </li>
  <li>
    <a href="{% url 'support:hijack_user' %}" {% if active_tab == 'support' %}class="menu-active"{% endif %}>
      <i class="fa fa-user-secret h-4 w-4"></i>
      {% translate "Impersonate a User" %}
    </a>
  </li>
</ul>
{% endif %}
