{% extends 'web/components/top_nav.html' %}
{% block nav_links %}{% endblock %}
{% block sidebar_toggle %}
<button class="btn btn-ghost btn-sm btn-circle mr-3 hidden lg:flex text-base-content/50 hover:text-indigo-500 transition-colors" 
        @click="$dispatch('toggle-sidebar')">
  <i class="fa fa-bars text-lg"></i>
</button>
{% endblock %}
{% block mobile_nav %}
<li class="menu-title">
  <span>Site</span>
</li>
{{ block.super }}
<li>
  <details>
    <summary>
      {% if team %}
      {{ team.name }}
      {% else %}
      {{ request.user.get_display_name }}
      {% endif %}
    </summary>
    <ul>
      {% include "web/components/team_nav_items.html" %}
    </ul>
  </details>
</li>
{% include 'web/components/app_nav_menu_items.html' %}
{% block mobile_nav_links %}{% endblock %}
{% endblock %}
