{% load i18n %}
{% load wagtailcore_tags %}
<div class="navbar shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <div class="lg:hidden">
        <label tabindex="0" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
      </div>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow-2xs bg-base-100 rounded-box w-52 z-10">
        {% block mobile_nav %}
        <li>
          <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'web:home' %}">
            <div>{{project_meta.NAME}}</div>
          </a>
        </li>
        {% slugurl 'blog' as blog_url %}
        <li>
          <a class="{% if blog_url in request.path %}active{% endif %}" href="{{ blog_url }}">
            {% translate "Blog" %}
          </a>
        </li>
        {% endblock %}
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <div role="tablist" class="tabs p-0">
      <a class="tab {% if request.path == '/' %}tab-active{% endif %}" href="{% url 'web:home' %}">
        <div>{{project_meta.NAME}}</div>
      </a>
      {% slugurl 'blog' as blog_url %}
      <a class="tab {% if blog_url in request.path %}tab-active{% endif %}" href="{{ blog_url }}">
        {% translate "Blog" %}
      </a>
    </div>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
    <div class="tooltip tooltip-bottom" data-tip="{% translate 'AI Assistant' %}">
      <a href="{% url 'chat:chat_home' %}" class="btn btn-ghost btn-sm btn-circle text-indigo-500 hover:text-indigo-600 transition-colors">
        <i class="fa-solid fa-robot text-lg"></i>
      </a>
    </div>
    {% include "web/components/notifications_dropdown.html" %}
    <details class="dropdown dropdown-end mx-1">
      <summary class="btn btn-ghost btn-sm btn-circle list-none cursor-pointer">
        <i class="fa fa-user-circle text-lg text-base-content/70"></i>
      </summary>
      <ul class="menu dropdown-content bg-base-100 rounded-box z-50 w-52 p-2 shadow-lg border border-base-content/5 mt-4">
        <li>
          <a href="{% url 'users:user_profile' %}">
            <i class="fa fa-user h-4 w-4"></i>
            {% translate "Profile" %}
          </a>
        </li>
        {% if user.has_usable_password %}
        <li>
          <a href="{% url 'account_change_password' %}">
            <i class="fa fa-unlock-alt h-4 w-4"></i>
            {% translate "Change Password" %}
          </a>
        </li>
        {% endif %}
        {% include "web/components/team_nav.html" %}
        <div class="my-1 border-t border-base-content/10"></div>
        <li>
          <a href="{% url 'account_logout' %}" class="text-error/80 hover:text-error hover:bg-error/10 transition-colors">
            <i class="fa fa-sign-out h-4 w-4"></i>
            {% translate "Sign out" %}
          </a>
        </li>
      </ul>
    </details>
    {% else %}
    <a href="{% url 'account_signup' %}" class="btn btn-primary">
      {% translate "Sign Up" %}
    </a>
    <a href="{% url 'account_login' %}" class="btn btn-outline ml-2">
      {% translate "Sign In" %}
    </a>
    {% endif %}
    {% include "web/components/dark_mode_selector.html" %}
  </div>
</div>
